.error-container {
    font-size: 20px;
    text-align: center;
    background-color: red;
    border-radius: 5px;
    height: 45px;
    color: white;
    margin: 15px 5px;
    font-weight: bold;
    line-height: 45px;
}