<div class="add-sensor-container">
    <app-button color="{{ showAddTask ? 'red' : 'green' }}" text="{{ showAddTask ? 'Schließen' : 'Neuen Messwert hinzufügen' }}"
      icon="{{ showAddTask ? 'cancel' : 'add' }}" (btnClick)="toggleAddTask()"></app-button>
    <form [formGroup]="sensorenDataForm" (ngSubmit)="onSubmit()" *ngIf="showAddTask">
      <h2>Neuen Messwert hinzufügen</h2>
      <mat-form-field appearance="fill">
        <mat-label>Bitte Sensor auswählen</mat-label>
        <mat-select [formControl]="sensorId">
          <mat-option *ngFor="let item of storeService.sensoren" [value]="item.id">{{item?.name}}</mat-option>
        </mat-select>
        <mat-error *ngIf="sensorId.hasError('required')">Bitte wählen Sie einen Sensor aus!</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Datum</mat-label>
        <input matInput type="date" [formControl]="date" required>
        <mat-error *ngIf="date.hasError('required')">Bitte wählen Sie ein Datum aus!</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Temperatur</mat-label>
        <input matInput type="number" placeholder="in Grad Celsius" [formControl]="temperature" step="0.1" required>
        <mat-error *ngIf="temperature.hasError('required')">Bitte geben Sie eine Temperatur ein!</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Luftfeuchtigkeit</mat-label>
        <input matInput type="number" placeholder="in Prozent" [formControl]="humidity" required>
        <mat-error *ngIf="humidity.hasError('required')">Bitte geben Sie eine Luftfeuchtigkeit ein!</mat-error>
        <mat-error *ngIf="humidity.hasError('min')">Die Luftfeuchtigkeit muss mindestens 0 sein!</mat-error>
        <mat-error *ngIf="humidity.hasError('max')">Die Luftfeuchtigkeit kann maximal 100 sein!</mat-error>
      </mat-form-field>
      <br />
      <button mat-raised-button [ngStyle]="{ 'background-color': loading?'darkgreen':'green' }" color="primary" type="submit" class="save-status">
        <span class="save-text">Speichern </span>
        <mat-icon *ngIf="!loading">save</mat-icon>
        <mat-spinner *ngIf="loading" [diameter]="24"></mat-spinner>
        </button>
    </form>
</div>